@model Prueba2.Reunion

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estas seguro de borrar esta reunión?</h3>
<div>
    <h4>Reunión</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Nombre empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
