@model Prueba2.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_evento)
        </dd>

        <dt>
           Direccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
           Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            Nombre cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
          Nombre empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_evento }) |
    @Html.ActionLink("Cancelar", "Index")
</p>
