@model IEnumerable<Prueba2.Gasto>

@{
    ViewBag.Title = "Index";
}

<h2>Gastos</h2>

<p>
    @Html.ActionLink("Crear nuevo gasto", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tipo de gasto
        </th>
        <th>
           Importe
        </th>
        <th>
           Factura
        </th>
        <th>
          Nombre empleado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_gasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.id_gasto }, new { @class = "btn btn-info glyphicon glyphicon-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.id_gasto }, new { @class = "btn btn-success glyphicon glyphicon-info-sign" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.id_gasto }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })

           
        </td>
    </tr>
}

</table>
