@model Prueba2.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
           Nombre empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cliente }) |
    @Html.ActionLink("Cancelar", "Index")
</p>
